/* LeftSidebar Styles */
.tool-btn svg {
  width: 1.25rem;
  height: 1.25rem;
}

.tool-divider {
  height: 1px;
  background-color: var(--border-subtle);
  width: 100%;
  margin: 0.25rem 0;
}

.color-picker {
  position: relative;
}

.color-picker-input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}